body {
    height: 2000px;
}

.navbar-light {
    background-color: #b0d4e0;
}

.navigationBar a{
    color: #222222;
}

.navigationBar a:hover{
    color: #9d000c;
}

.img-right {
    margin: 0 0 10px 0px;
    padding: 0;
}
